<%= form_with(model: task, local: true) do |form| %>
 
 
  <div class="field">
    <%= form.label :description, "Descrição", style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :due_date, "Data", style: "display: block" %>
    <%= form.date_field :due_date %>
  </div>

  <div class="field">
    <%= form.label :done, "Concluído", style: "display: block" %>
    <%= form.checkbox :done %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>