<%= form_with(model: task, local: true) do |form| %>

  <%= form.hidden_field :parent_id, 
    value: task.parent_id || params[:parent_id] %>
 
 
  <div class="form-group">
    <%= form.label :description, "Descrição", style: "display: block" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :due_date, "Data", style: "display: block" %>
    <%= form.date_select :due_date %> 
  </div>

  <div class="form-group">
    <%= form.check_box :done, class: "form-check-input" %>
    <%= form.label :done, class: "form-check-label" %>
  </div><br>
  
  <%= form.submit class: "btn btn-primary",
   data: { disable_with: "Salvando..." } %>  
   
  <%= link_to "Cancelar", tasks_path, class: "btn btn-secondary" %>
<% end %>